In [2]:
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [5]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 88.0.4324
[WDM] - Get LATEST driver version for 88.0.4324

[WDM] - Get LATEST driver version for 88.0.4324
[WDM] - Trying to download new driver from https://chromedriver.storage.googleapis.com/88.0.4324.96/chromedriver_mac64.zip
[WDM] - Driver has been saved in cache [/Users/robertsimeonoglou/.wdm/drivers/chromedriver/mac64/88.0.4324.96]

In [6]:
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [15]:

html = browser.html
soup = BeautifulSoup(html, 'html.parser')
articles = soup.find('ul', class_='item_list')

title_list = []
text_list = []


for article in articles:
    title = article.find('div', class_='content_title')
    title = title.text.strip()
    text = article.find('div', class_='article_teaser_body')
    text = text.text.strip()
    title_list.append(title)
    text_list.append(text)


latest_title = title_list[0]
latest_text = text_list[0]

print(latest_title)
print(latest_text)

NASA's Perseverance Pays Off Back Home
Even as the Perseverance rover approaches Mars, technology on board is paying off on Earth.

In [16]:
url = 'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/index.html'
browser.visit(url)

In [25]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
image = soup.find('img', class_='headerimage fade-in')['src']
parsed_url = url.split('/')
featured_image_url = parsed_url[0]+'//'+ parsed_url[1] + '/' + parsed_url[2] + '/' + image
featured_image_url

'https:///data-class-jpl-space.s3.amazonaws.com/image/featured/mars1.jpg'

In [26]:
url = 'https://space-facts.com/mars/'
browser.visit(url)

In [29]:
tables = pd.read_html(url)
df = tables[0]
df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [32]:
html_table = df.to_html()
html_table = html_table.replace('\n', '')
html_table

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>0</th>      <th>1</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [33]:
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)

In [51]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
results = soup.find('div', class_='collapsible results')
results

# for result in results:
links = results.find_all('div',class_='item')
links    
# for link in links:

for link in links:
    href = link.find('a')['href']
    print(href)
    
    url = "https://astrogeology.usgs.gov" + link
    browser.visit(url)
    
    




#     # Iterate through each book
# for result in results:
    

#         h3 = article.find('h3')
#         link = h3.find('a')
#         href = link['href']
#         title = link['title']
#         print('-----------')
#         print(title)
#         print('http://books.toscrape.com/' + href)

#     # Click the 'Next' button on each page
#     try:
#         browser.links.find_by_partial_text('next').click()
          
#     except:
#         print("Scraping Complete")

/search/map/Mars/Viking/cerberus_enhanced
/search/map/Mars/Viking/schiaparelli_enhanced
/search/map/Mars/Viking/syrtis_major_enhanced
/search/map/Mars/Viking/valles_marineris_enhanced